{% extends '_layout_vertical.html.twig' %}

{% block title %}Hello, world! - {{ parent() }}{% endblock %}

{% block body %}
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="empty-img"><img src="{{ asset('images/undraw_quitting_time.svg') }}" height="128" alt="">
                </div>
                <h1>Hello, world!</h1>
                <p class="empty-subtitle text-muted">
                    Sorry for the inconvenience but at the moment that's all there is to this project.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
