{% if app.request.hasPreviousSession %}
    <div class="container-xl mt-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="messages">
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} alert-dismissible alert-important" role="alert">
                                <div class="d-flex">
                                    <div>
                                        <p class="m-0">{{ message|trans }}</p>
                                    </div>

                                    <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
