{% extends 'base.html.twig' %}

{% block page %}
    <div class="page">
        {% block header %}
            {% embed "embeds/header.html.twig" %}{% endembed %}
        {% endblock %}

        {% include "includes/flash_messages.html.twig" %}

        <div class="page-wrapper">
            {% block body %}{% endblock %}
        </div>

        {% include "includes/footer.html.twig" %}

        {% if not has_cookie_consent(app.request) %}
            {{ cookie_consent_render() }}
        {% endif %}
    </div>
{% endblock %}
