<!DOCTYPE html>
<html>
    <head>
        {% include "includes/metatags.html.twig" %}

        <title>{% block title %}{{ app_title }}{% endblock %}</title>

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body {% block turbo_drive 'data-turbo=false' %} {% block bs_theme 'data-bs-theme="light"' %}>
        {% block page %}
            <div class="page">
                {% block header %}
                    {% embed "embeds/header.html.twig" %}{% endembed %}
                {% endblock %}

                {% include "includes/flash_messages.html.twig" %}

                <div class="page-wrapper">
                    {% block body %}{% endblock %}
                </div>

                {% include "includes/footer.html.twig" %}
            </div>
        {% endblock %}

        {% if not has_cookie_consent(app.request) %}
            {{ cookie_consent_render() }}
        {% endif %}
    </body>
</html>
