<!DOCTYPE html>
<html>
    <head>
        {% include "includes/metatags.html.twig" %}

        <title>{% block title %}cois-hub{% endblock %}</title>

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            {% embed "embeds/header.html.twig" %}{% endembed %}

            <div class="container-xl">
                {% include "includes/flash_messages.html.twig" %}
            </div>

            {% block body %}{% endblock %}

            {% include "includes/footer.html.twig" %}
        </div>
    </body>
</html>
