<!DOCTYPE html>
<html>
    <head>
        {% include "includes/metatags.html.twig" %}

        <title>{% block title %}cois-hub{% endblock %}</title>

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            {% block header %}
                {% embed "embeds/header.html.twig" %}{% endembed %}
            {% endblock %}

            {% include "includes/flash_messages.html.twig" %}

            <div class="page-wrapper">
                {% block body %}{% endblock %}
            </div>

            {% include "includes/footer.html.twig" %}
        </div>
    </body>
</html>
